In [137]:
import pandas as pd
#removed rows with content number in string i.e ' Subtitles 5' or ' teaser 1' in content number
#replaced range with last value i.e '27-28' to '28 in content number'
r_data=pd.read_csv('/home/ashar/fiverr/mobility-based-rc/full-data.csv',usecols=['user_number','content number','title','genre','loc','Weekdays/Weekends','Gender','Profession','Age','age','event','view','time','device','section','CP','watch time ( candle )','t-gap'])
r_data

,user_number,title,content number,genre,loc,Weekdays/Weekends,Gender,Profession,Age,age,event,view,time,device,section,CP,watch time ( candle ),t-gap
0,1,game of thrones season 3,2,"19, SF, SF fantasy , mid , fantasy",1,1,2,1,25,1,1,1,1,3,5,5,0.0,3151
1,1,game of thrones season 3,3,"19, SF, SF fantasy , mid , fantasy",1,1,2,1,25,1,0,1,1,3,5,5,62.5,3144
2,1,game of thrones season 3,3,"19, SF, SF fantasy , mid , fantasy",1,1,2,1,25,1,0,1,1,3,5,5,62.5,3144
3,1,game of thrones season 3,3,"19, SF, SF fantasy , mid , fantasy",1,1,2,1,25,1,0,1,1,3,5,5,49.0,3144
4,1,game of thrones season 3,3,"19, SF, SF fantasy , mid , fantasy",1,1,2,1,25,1,0,1,1,3,5,5,49.0,3144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13092,27,You Hee-yeol's Sketchbook,552,"music , talk",1,1,1,2,29,1,0,2,20,1,1,1,63.0,122
13093,27,You Hee-yeol's Sketchbook,552,"music , talk",1,1,1,2,29,1,0,2,20,1,1,1,63.0,122
13094,27,You Hee-yeol's Sketchbook,552,"music , talk",1,1,1,2,29,1,0,2,20,1,1,1,63.0,122
13095,27,You Hee-yeol's Sketchbook,552,"music , talk",1,1,1,2,29,1,0,2,20,1,1,1,63.0,122
13096,27,You Hee-yeol's Sketchbook,552,"music , talk",1,1,1,2,29,1,0,2,20,1,1,1,63.0,122

In [138]:
#replace content number with title (numerical)
id_to_title=pd.DataFrame(columns=['id','title'])
unique_title=list(r_data['title'].unique())
title_id={}
count=1
for t in unique_title:
    title_id[t.strip()]=count
    id_to_title.loc[len(id_to_title)]=[count,t.strip()]
    count+=1

id_to_title.to_csv('./id_to_title.csv')
for t in title_id:
    r_data.loc[r_data['title'].str.strip()==t,'title']=title_id[t]

r_data=r_data.drop('content number', 1)
r_data=r_data.rename(columns={'title': 'content number'})
r_data

,user_number,content number,genre,loc,Weekdays/Weekends,Gender,Profession,Age,age,event,view,time,device,section,CP,watch time ( candle ),t-gap
0,1,1,"19, SF, SF fantasy , mid , fantasy",1,1,2,1,25,1,1,1,1,3,5,5,0.0,3151
1,1,1,"19, SF, SF fantasy , mid , fantasy",1,1,2,1,25,1,0,1,1,3,5,5,62.5,3144
2,1,1,"19, SF, SF fantasy , mid , fantasy",1,1,2,1,25,1,0,1,1,3,5,5,62.5,3144
3,1,1,"19, SF, SF fantasy , mid , fantasy",1,1,2,1,25,1,0,1,1,3,5,5,49.0,3144
4,1,1,"19, SF, SF fantasy , mid , fantasy",1,1,2,1,25,1,0,1,1,3,5,5,49.0,3144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13092,27,76,"music , talk",1,1,1,2,29,1,0,2,20,1,1,1,63.0,122
13093,27,76,"music , talk",1,1,1,2,29,1,0,2,20,1,1,1,63.0,122
13094,27,76,"music , talk",1,1,1,2,29,1,0,2,20,1,1,1,63.0,122
13095,27,76,"music , talk",1,1,1,2,29,1,0,2,20,1,1,1,63.0,122
13096,27,76,"music , talk",1,1,1,2,29,1,0,2,20,1,1,1,63.0,122

In [47]:
genre_type=list(r_data['genre'])

In [48]:
d_genre=[]
genre_count={}
for x in genre_type:
    g=x.split(',')
    for gen in g:
        if gen.strip() not in d_genre:
            d_genre.append(gen.strip())
        if gen.strip() not in genre_count:
            genre_count[gen.strip()]=0
        else:
            genre_count[gen.strip()]+=1
            
print(len(d_genre))
print(d_genre)
genre_count=dict(sorted(genre_count.items(), key=lambda item: item[1]))
print(genre_count)

47
['19', 'SF', 'SF fantasy', 'mid', 'fantasy', 'game', 'etc', 'variety', 'Trip', 'Pets', 'action', 'drama', 'Culture', 'talk', 'romance', 'mini series', 'history', 'Monday-Tuesday drama', 'family', 'adventure', 'Friday-Saturday Drama', 'sports', 'weekend drama', 'life', 'reality', 'food', 'comedy', 'music', 'news', 'sitcom', 'remake', 'Wed-Thu drama', 'growth', 'Quiz', 'War', 'court', 'Medicine', 'politics', 'romantic relationship', 'yield', 'documentary', 'revenge', 'contest', 'audition', 'youth', 'human', 'period drama']
{'human': 0, 'documentary': 1, 'court': 4, 'Medicine': 4, 'politics': 4, 'Quiz': 8, 'yield': 14, 'period drama': 24, 'contest': 44, 'audition': 44, 'Pets': 45, 'War': 48, 'weekend drama': 71, 'food': 86, 'music': 131, 'history': 136, 'news': 155, 'sports': 179, 'growth': 182, 'revenge': 182, 'Culture': 251, 'Monday-Tuesday drama': 280, 'youth': 301, 'drama': 350, 'life': 495, 'remake': 532, 'romantic relationship': 757, 'reality': 855, 'sitcom': 948, 'action': 972, 'talk': 1037, 'family': 1083, 'comedy': 1088, '19': 1123, 'SF fantasy': 1124, 'SF': 1148, 'mid': 1148, 'Wed-Thu drama': 1365, 'Friday-Saturday Drama': 1537, 'adventure': 1838, 'romance': 1854, 'Trip': 2143, 'game': 2284, 'fantasy': 2963, 'mini series': 3184, 'variety': 3275, 'etc': 3514}

In [139]:
genre=['documentary','quiz','contest','audition','history','news','sports','drama','romantic relationship',
      'reality','sitcom','action','talk','family','comedy','sf fantasy','sf','mid','adventure','romance','trip',
      'game','fantasy','mini series','horror','crime','mystery']
for g in genre:
    r_data[g]=0
    
for index,row in r_data.iterrows():
    cur_g=row['genre'].split(',')
    for g in cur_g:
        if g.strip().lower() in genre:
            r_data.loc[index,g.strip().lower()] = 1
            
r_data=r_data.drop(['genre'], axis = 1)
r_data.rename(columns = {'age':'age_category','content number':'content_id','user_number':'user_id','watch time ( candle )':'watch_time','t-gap':'t_gap'},inplace=True)
r_data.columns= r_data.columns.str.lower()
r_data

,user_id,content_id,loc,weekdays/weekends,gender,profession,age,age_category,event,view,...,mid,adventure,romance,trip,game,fantasy,mini series,horror,crime,mystery
0,1,1,1,1,2,1,25,1,1,1,...,1,0,0,0,0,1,0,0,0,0
1,1,1,1,1,2,1,25,1,0,1,...,1,0,0,0,0,1,0,0,0,0
2,1,1,1,1,2,1,25,1,0,1,...,1,0,0,0,0,1,0,0,0,0
3,1,1,1,1,2,1,25,1,0,1,...,1,0,0,0,0,1,0,0,0,0
4,1,1,1,1,2,1,25,1,0,1,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13092,27,76,1,1,1,2,29,1,0,2,...,0,0,0,0,0,0,0,0,0,0
13093,27,76,1,1,1,2,29,1,0,2,...,0,0,0,0,0,0,0,0,0,0
13094,27,76,1,1,1,2,29,1,0,2,...,0,0,0,0,0,0,0,0,0,0
13095,27,76,1,1,1,2,29,1,0,2,...,0,0,0,0,0,0,0,0,0,0
13096,27,76,1,1,1,2,29,1,0,2,...,0,0,0,0,0,0,0,0,0,0

In [50]:
r_data.iloc[0]

user_id                     1
content_id                  1
loc                         1
weekdays/weekends           1
gender                      2
profession                  1
age                        25
age_category                1
event                       1
view                        1
time                        1
device                      3
section                     5
cp                          5
watch_time                  0
t_gap                    3151
documentary                 0
quiz                        0
contest                     0
audition                    0
history                     0
news                        0
sports                      0
drama                       0
romantic relationship       0
reality                     0
sitcom                      0
action                      0
talk                        0
family                      0
comedy                      0
sf fantasy                  1
sf                          1
mid                         1
adventure                   0
romance                     0
trip                        0
game                        0
fantasy                     1
mini series                 0
horror                      0
crime                       0
mystery                     0
Name: 0, dtype: object

In [140]:
r_data.to_csv('./ready_to_train_data.csv')
r_data

,user_id,content_id,loc,weekdays/weekends,gender,profession,age,age_category,event,view,...,mid,adventure,romance,trip,game,fantasy,mini series,horror,crime,mystery
0,1,1,1,1,2,1,25,1,1,1,...,1,0,0,0,0,1,0,0,0,0
1,1,1,1,1,2,1,25,1,0,1,...,1,0,0,0,0,1,0,0,0,0
2,1,1,1,1,2,1,25,1,0,1,...,1,0,0,0,0,1,0,0,0,0
3,1,1,1,1,2,1,25,1,0,1,...,1,0,0,0,0,1,0,0,0,0
4,1,1,1,1,2,1,25,1,0,1,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13092,27,76,1,1,1,2,29,1,0,2,...,0,0,0,0,0,0,0,0,0,0
13093,27,76,1,1,1,2,29,1,0,2,...,0,0,0,0,0,0,0,0,0,0
13094,27,76,1,1,1,2,29,1,0,2,...,0,0,0,0,0,0,0,0,0,0
13095,27,76,1,1,1,2,29,1,0,2,...,0,0,0,0,0,0,0,0,0,0
13096,27,76,1,1,1,2,29,1,0,2,...,0,0,0,0,0,0,0,0,0,0

In [141]:
#rating scale calculation
min_rate=r_data['watch_time'].min()
max_rate=r_data['watch_time'].max()
print(min_rate,max_rate)

0.0 89.0

In [142]:
##matrix factorization (collaborative filtering)

from surprise import SVD
import numpy as np
import surprise
from surprise import Reader, Dataset

# It is to specify how to read the data frame.
reader = Reader(rating_scale=(min_rate,max_rate+1))
train_data_mf = Dataset.load_from_df(r_data[['user_id', 'content_id', 'watch_time']], reader)

#It is of dataset format from surprise library
trainset = train_data_mf.build_full_trainset()
svd = SVD(n_factors=100, biased=True, random_state=15, verbose=True)
svd.fit(trainset)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19

In [54]:
train_preds = svd.test(trainset.build_testset())
train_pred_mf = np.array([pred.est for pred in train_preds])

In [113]:
# columns=['user_id','content_id','mat_fac_pred']
# train_res=pd.DataFrame()
# train_res['user_id']=r_data['user_id']
# train_res['content_id']=r_data['content_id']
# train_res['mat_fac_pred']=train_pred_mf
# train_res

       user_id  content_id  mat_fac_pred
0            1           2     57.197912
1            1           3     55.103702
2            1           3     55.103702
3            1           3     55.103702
4            1           3     55.103702
...        ...         ...           ...
13092       27         552     60.698146
13093       27         552     60.698146
13094       27         552     60.698146
13095       27         552     60.698146
13096       27         552     60.698146

[13097 rows x 3 columns]

In [143]:
## Hand crafted features (related to watch time)
#1 average watch time of all series by all users
import pandas as pd
r_data=pd.read_csv('./ready_to_train_data.csv')
# print(r_data)
g_avg=r_data['watch_time'].mean()
r_data['g_avg']=g_avg

#2 average watch time of a movie by all users
r_data['m_avg']=r_data.groupby(['content_id'])['watch_time'].transform('mean')

#3 average watch time of all movies watched by a user
r_data['u_avg']=r_data.groupby(['user_id'])['watch_time'].transform('mean')

#4 average watch time of a movie by a user
r_data['um_avg']=r_data.groupby(['user_id','content_id'])['watch_time'].transform('mean')

print(r_data)

       Unnamed: 0  user_id  content_id  loc  weekdays/weekends  gender  \
0               0        1           1    1                  1       2
1               1        1           1    1                  1       2
2               2        1           1    1                  1       2
3               3        1           1    1                  1       2
4               4        1           1    1                  1       2
...           ...      ...         ...  ...                ...     ...
13092       13092       27          76    1                  1       1
13093       13093       27          76    1                  1       1
13094       13094       27          76    1                  1       1
13095       13095       27          76    1                  1       1
13096       13096       27          76    1                  1       1

       profession  age  age_category  event  ...  game  fantasy  mini series  \
0               1   25             1      1  ...     0        1            0
1               1   25             1      0  ...     0        1            0
2               1   25             1      0  ...     0        1            0
3               1   25             1      0  ...     0        1            0
4               1   25             1      0  ...     0        1            0
...           ...  ...           ...    ...  ...   ...      ...          ...
13092           2   29             1      0  ...     0        0            0
13093           2   29             1      0  ...     0        0            0
13094           2   29             1      0  ...     0        0            0
13095           2   29             1      0  ...     0        0            0
13096           2   29             1      0  ...     0        0            0

       horror  crime  mystery     g_avg      m_avg      u_avg     um_avg
0           0      0        0  55.61831  56.307407  55.776129  56.307407
1           0      0        0  55.61831  56.307407  55.776129  56.307407
2           0      0        0  55.61831  56.307407  55.776129  56.307407
3           0      0        0  55.61831  56.307407  55.776129  56.307407
4           0      0        0  55.61831  56.307407  55.776129  56.307407
...       ...    ...      ...       ...        ...        ...        ...
13092       0      0        0  55.61831  54.030303  52.493215  54.030303
13093       0      0        0  55.61831  54.030303  52.493215  54.030303
13094       0      0        0  55.61831  54.030303  52.493215  54.030303
13095       0      0        0  55.61831  54.030303  52.493215  54.030303
13096       0      0        0  55.61831  54.030303  52.493215  54.030303

[13097 rows x 48 columns]

In [144]:
## Hand crafted features (similar user and content, get similar user watch time and add as feature)
user_content_features=['gender','profession','age','age_category','section','cp','documentary','quiz','contest','audition','history','news','sports','drama','romantic relationship',
      'reality','sitcom','action','talk','family','comedy','sf fantasy','sf','mid','adventure','romance','trip',
      'game','fantasy','mini series','horror','crime','mystery']

unique_user=list(r_data['user_id'].unique())

#get feature average of every user
user_feature_avg={}
for u in unique_user:
    user_feature_avg[u]=[]
    for f in user_content_features:
        user_feature_avg[u].append(r_data.loc[r_data['user_id']==u][f].mean())
    
# print(user_feature_avg)


#get cosine similarity between every user and sort them
from scipy import spatial

u_cosim={}
for u in user_feature_avg:
    u_cosim[u]={}
    for u2 in user_feature_avg:
        if u!=u2:
            sim = 1 - spatial.distance.cosine(user_feature_avg[u], user_feature_avg[u2])
            u_cosim[u][u2]=sim
    u_cosim[u]=dict( sorted(u_cosim[u].items(),key=lambda item: item[1],reverse=True))  
    
print(u_cosim)

#get top five user for every user
top_5={}
top=5
for u in u_cosim:
    top_5[u]=[]
    top_cur=0
    for su in u_cosim[u]:
        top_5[u].append(su)
        top_cur+=1
        if top_cur==top:
            break

print(top_5)
# sim_user

{1: {16: 0.9980653177233332, 2: 0.9969774681646064, 25: 0.9968136400575084, 6: 0.9945358742038859, 10: 0.9928115108284349, 20: 0.9888484512484217, 21: 0.9886025863321422, 19: 0.987139007607623, 12: 0.9869821332229565, 26: 0.9858056914884197, 4: 0.9855628722850371, 17: 0.9855446480023692, 18: 0.9849725464010796, 3: 0.9843446315066804, 27: 0.9833653907128639, 23: 0.982118270531688, 22: 0.9808978818901286}, 2: {25: 0.9988859944119418, 6: 0.9982394918452219, 1: 0.9969774681646064, 16: 0.9965872290990181, 10: 0.9955480404464253, 20: 0.9937780996595034, 21: 0.993711868965615, 12: 0.9916692756459452, 26: 0.9916671528106564, 4: 0.991508584864329, 19: 0.990932131028257, 3: 0.9903108748039978, 27: 0.98946261988535, 17: 0.9893064873044018, 18: 0.9885971720342567, 23: 0.988501582707836, 22: 0.9877771550258567}, 3: {27: 0.9992705724060771, 22: 0.9992389891533919, 23: 0.9991642707706869, 26: 0.99915695605794, 4: 0.9984858707802706, 21: 0.9981744006926745, 17: 0.9979086946887599, 20: 0.9979003721350457, 19: 0.9975308468424056, 18: 0.9971150272878582, 12: 0.9970269682590679, 10: 0.9955714540841146, 6: 0.9951338266358236, 2: 0.9903108748039978, 25: 0.9845355075904562, 1: 0.9843446315066804, 16: 0.979163582222888}, 4: {26: 0.9987057520856403, 27: 0.9986439316543742, 3: 0.9984858707802706, 18: 0.998325360889683, 23: 0.9982002492329397, 21: 0.9980367035681887, 17: 0.9978538540840154, 20: 0.9976983941882936, 19: 0.997507298620625, 22: 0.9967390116969433, 10: 0.9952642189081226, 12: 0.9951295528856278, 6: 0.9947479711842262, 2: 0.991508584864329, 25: 0.986298005949439, 1: 0.9855628722850371, 16: 0.9809327315310281}, 6: {2: 0.9982394918452219, 10: 0.9973473732926036, 21: 0.9969648780385806, 20: 0.9967296418075959, 26: 0.9961069424260528, 12: 0.9955868810028444, 25: 0.9955676862371018, 3: 0.9951338266358236, 4: 0.9947479711842262, 19: 0.9945493589537491, 1: 0.9945358742038859, 27: 0.9944483044278696, 23: 0.9935938152667809, 17: 0.9933577175583939, 22: 0.9932289038051334, 16: 0.9926678546523495, 18: 0.9921065837741436}, 10: {6: 0.9973473732926036, 20: 0.9972630554008124, 12: 0.9967119511325784, 21: 0.9965406854728015, 19: 0.996485726871812, 17: 0.9961451716916041, 26: 0.9959325438691292, 3: 0.9955714540841146, 2: 0.9955480404464253, 4: 0.9952642189081226, 18: 0.9946570465703016, 27: 0.9946138867542663, 23: 0.9943845849674033, 22: 0.9938637467622162, 1: 0.9928115108284349, 25: 0.9919419435125064, 16: 0.9901553575999044}, 12: {20: 0.9977812686923831, 3: 0.9970269682590679, 17: 0.9969563423824661, 27: 0.9968038471285695, 21: 0.996728106936268, 10: 0.9967119511325784, 26: 0.9966534610383491, 23: 0.9965423691470197, 22: 0.996527219310558, 6: 0.9955868810028444, 19: 0.9955107871939105, 4: 0.9951295528856278, 18: 0.9940361030309971, 2: 0.9916692756459452, 1: 0.9869821332229565, 25: 0.9865855435458447, 16: 0.9832438378942396}, 16: {1: 0.9980653177233332, 25: 0.9976850523440618, 2: 0.9965872290990181, 6: 0.9926678546523495, 10: 0.9901553575999044, 20: 0.9850852981171699, 21: 0.9848735435161938, 12: 0.9832438378942396, 19: 0.982955312890487, 26: 0.9811514536550879, 17: 0.9809382851187213, 4: 0.9809327315310281, 18: 0.9802656339536245, 3: 0.979163582222888, 27: 0.9781542048098761, 23: 0.9767169113575747, 22: 0.9752353176383727}, 17: {18: 0.9991941964543195, 27: 0.9982667822207641, 19: 0.998217842858289, 3: 0.9979086946887599, 4: 0.9978538540840154, 23: 0.9977935270718158, 26: 0.9976303447553693, 20: 0.9973088323027247, 12: 0.9969563423824661, 21: 0.9968929926674656, 10: 0.9961451716916041, 22: 0.996071247825113, 6: 0.9933577175583939, 2: 0.9893064873044018, 1: 0.9855446480023692, 25: 0.9833103495194594, 16: 0.9809382851187213}, 18: {17: 0.9991941964543195, 4: 0.998325360889683, 19: 0.9976549783227112, 27: 0.9973685071525382, 3: 0.9971150272878582, 26: 0.9966930807779107, 23: 0.996596803687922, 21: 0.9960717957366426, 20: 0.9958992619011927, 10: 0.9946570465703016, 22: 0.994558439006173, 12: 0.9940361030309971, 6: 0.9921065837741436, 2: 0.9885971720342567, 1: 0.9849725464010796, 25: 0.9829336935497626, 16: 0.9802656339536245}, 19: {21: 0.998318162896408, 26: 0.9982401388042226, 17: 0.998217842858289, 23: 0.997841026053107, 27: 0.9977149638803025, 18: 0.9976549783227112, 3: 0.9975308468424056, 4: 0.997507298620625, 20: 0.9974363862958896, 10: 0.996485726871812, 22: 0.9960718193749452, 12: 0.9955107871939105, 6: 0.9945493589537491, 2: 0.990932131028257, 1: 0.987139007607623, 25: 0.9857737816256483, 16: 0.982955312890487}, 20: {21: 0.9993999139637548, 26: 0.9985691239363367, 27: 0.9979669838555891, 3: 0.9979003721350457, 23: 0.9978896960321617, 12: 0.9977812686923831, 4: 0.9976983941882936, 19: 0.9974363862958896, 17: 0.9973088323027247, 22: 0.9972850765777415, 10: 0.9972630554008124, 6: 0.9967296418075959, 18: 0.9958992619011927, 2: 0.9937780996595034, 25: 0.990023733076395, 1: 0.9888484512484217, 16: 0.9850852981171699}, 21: {20: 0.9993999139637548, 26: 0.9989357292897062, 19: 0.998318162896408, 3: 0.9981744006926745, 27: 0.998134448859535, 23: 0.9980637405292786, 4: 0.9980367035681887, 22: 0.9974836957954433, 6: 0.9969648780385806, 17: 0.9968929926674656, 12: 0.996728106936268, 10: 0.9965406854728015, 18: 0.9960717957366426, 2: 0.993711868965615, 25: 0.9900432121619847, 1: 0.9886025863321422, 16: 0.9848735435161938}, 22: {3: 0.9992389891533919, 23: 0.9988505673415423, 27: 0.9985320221696915, 26: 0.9981668566901654, 21: 0.9974836957954433, 20: 0.9972850765777415, 4: 0.9967390116969433, 12: 0.996527219310558, 19: 0.9960718193749452, 17: 0.996071247825113, 18: 0.994558439006173, 10: 0.9938637467622162, 6: 0.9932289038051334, 2: 0.9877771550258567, 25: 0.982003689583256, 1: 0.9808978818901286, 16: 0.9752353176383727}, 23: {27: 0.9996251748894543, 26: 0.9994028419212343, 3: 0.9991642707706869, 22: 0.9988505673415423, 4: 0.9982002492329397, 21: 0.9980637405292786, 20: 0.9978896960321617, 19: 0.997841026053107, 17: 0.9977935270718158, 18: 0.996596803687922, 12: 0.9965423691470197, 10: 0.9943845849674033, 6: 0.9935938152667809, 2: 0.988501582707836, 25: 0.9821948685578449, 1: 0.982118270531688, 16: 0.9767169113575747}, 25: {2: 0.9988859944119418, 16: 0.9976850523440618, 1: 0.9968136400575084, 6: 0.9955676862371018, 10: 0.9919419435125064, 21: 0.9900432121619847, 20: 0.990023733076395, 12: 0.9865855435458447, 4: 0.986298005949439, 26: 0.9862650732529065, 19: 0.9857737816256483, 3: 0.9845355075904562, 17: 0.9833103495194594, 27: 0.9832990371799514, 18: 0.9829336935497626, 23: 0.9821948685578449, 22: 0.982003689583256}, 26: {23: 0.9994028419212343, 27: 0.9993891792103466, 3: 0.99915695605794, 21: 0.9989357292897062, 4: 0.9987057520856403, 20: 0.9985691239363367, 19: 0.9982401388042226, 22: 0.9981668566901654, 17: 0.9976303447553693, 18: 0.9966930807779107, 12: 0.9966534610383491, 6: 0.9961069424260528, 10: 0.9959325438691292, 2: 0.9916671528106564, 25: 0.9862650732529065, 1: 0.9858056914884197, 16: 0.9811514536550879}, 27: {23: 0.9996251748894543, 26: 0.9993891792103466, 3: 0.9992705724060771, 4: 0.9986439316543742, 22: 0.9985320221696915, 17: 0.9982667822207641, 21: 0.998134448859535, 20: 0.9979669838555891, 19: 0.9977149638803025, 18: 0.9973685071525382, 12: 0.9968038471285695, 10: 0.9946138867542663, 6: 0.9944483044278696, 2: 0.98946261988535, 1: 0.9833653907128639, 25: 0.9832990371799514, 16: 0.9781542048098761}}
{1: [16, 2, 25, 6, 10], 2: [25, 6, 1, 16, 10], 3: [27, 22, 23, 26, 4], 4: [26, 27, 3, 18, 23], 6: [2, 10, 21, 20, 26], 10: [6, 20, 12, 21, 19], 12: [20, 3, 17, 27, 21], 16: [1, 25, 2, 6, 10], 17: [18, 27, 19, 3, 4], 18: [17, 4, 19, 27, 3], 19: [21, 26, 17, 23, 27], 20: [21, 26, 27, 3, 23], 21: [20, 26, 19, 3, 27], 22: [3, 23, 27, 26, 21], 23: [27, 26, 3, 22, 4], 25: [2, 16, 1, 6, 10], 26: [23, 27, 3, 21, 4], 27: [23, 26, 3, 4, 22]}

In [145]:
r_data['simu1']=1
r_data['simu2']=2
r_data['simu3']=3
r_data['simu4']=4
r_data['simu5']=5
print(r_data)
for index,row in r_data.iterrows():
    if index%500==0:
        print(index)
    user=int(row['user_id'])
    content=int(row['content_id'])
    sim_u=top_5[user]
    for ind,u in enumerate(sim_u):
        wtime=r_data.loc[(r_data['user_id']==u) & (r_data['content_id']==content)]['um_avg']
        simu_wtime=0
        if len(wtime)==0:
            simu_wtime=0
        else:
            simu_wtime=wtime.iloc[0]
        if ind==0:
            r_data.at[index,'simu1']=simu_wtime
        elif ind==1:
            r_data.at[index,'simu2']=simu_wtime
        elif ind==2:
            r_data.at[index,'simu3']=simu_wtime
        elif ind==3:
            r_data.at[index,'simu4']=simu_wtime
        elif ind==4:
            r_data.at[index,'simu5']=simu_wtime

       Unnamed: 0  user_id  content_id  loc  weekdays/weekends  gender  \
0               0        1           1    1                  1       2
1               1        1           1    1                  1       2
2               2        1           1    1                  1       2
3               3        1           1    1                  1       2
4               4        1           1    1                  1       2
...           ...      ...         ...  ...                ...     ...
13092       13092       27          76    1                  1       1
13093       13093       27          76    1                  1       1
13094       13094       27          76    1                  1       1
13095       13095       27          76    1                  1       1
13096       13096       27          76    1                  1       1

       profession  age  age_category  event  ...  mystery     g_avg  \
0               1   25             1      1  ...        0  55.61831
1               1   25             1      0  ...        0  55.61831
2               1   25             1      0  ...        0  55.61831
3               1   25             1      0  ...        0  55.61831
4               1   25             1      0  ...        0  55.61831
...           ...  ...           ...    ...  ...      ...       ...
13092           2   29             1      0  ...        0  55.61831
13093           2   29             1      0  ...        0  55.61831
13094           2   29             1      0  ...        0  55.61831
13095           2   29             1      0  ...        0  55.61831
13096           2   29             1      0  ...        0  55.61831

           m_avg      u_avg     um_avg  simu1  simu2  simu3  simu4  simu5
0      56.307407  55.776129  56.307407      1      2      3      4      5
1      56.307407  55.776129  56.307407      1      2      3      4      5
2      56.307407  55.776129  56.307407      1      2      3      4      5
3      56.307407  55.776129  56.307407      1      2      3      4      5
4      56.307407  55.776129  56.307407      1      2      3      4      5
...          ...        ...        ...    ...    ...    ...    ...    ...
13092  54.030303  52.493215  54.030303      1      2      3      4      5
13093  54.030303  52.493215  54.030303      1      2      3      4      5
13094  54.030303  52.493215  54.030303      1      2      3      4      5
13095  54.030303  52.493215  54.030303      1      2      3      4      5
13096  54.030303  52.493215  54.030303      1      2      3      4      5

[13097 rows x 53 columns]
0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000

In [146]:
#add matrix factorization output to training data
r_data['mat_fact_pred']=train_pred_mf

In [60]:
r_data.to_csv('./final_data.csv')
r_data

,Unnamed: 0,user_id,content_id,loc,weekdays/weekends,gender,profession,age,age_category,event,...,g_avg,m_avg,u_avg,um_avg,simu1,simu2,simu3,simu4,simu5,mat_fact_pred
0,0,1,1,1,1,2,1,25,1,1,...,55.61831,56.307407,55.776129,56.307407,0,0,0,0,0,56.682873
1,1,1,1,1,1,2,1,25,1,0,...,55.61831,56.307407,55.776129,56.307407,0,0,0,0,0,56.682873
2,2,1,1,1,1,2,1,25,1,0,...,55.61831,56.307407,55.776129,56.307407,0,0,0,0,0,56.682873
3,3,1,1,1,1,2,1,25,1,0,...,55.61831,56.307407,55.776129,56.307407,0,0,0,0,0,56.682873
4,4,1,1,1,1,2,1,25,1,0,...,55.61831,56.307407,55.776129,56.307407,0,0,0,0,0,56.682873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13092,13092,27,76,1,1,1,2,29,1,0,...,55.61831,54.030303,52.493215,54.030303,0,0,0,0,0,53.983993
13093,13093,27,76,1,1,1,2,29,1,0,...,55.61831,54.030303,52.493215,54.030303,0,0,0,0,0,53.983993
13094,13094,27,76,1,1,1,2,29,1,0,...,55.61831,54.030303,52.493215,54.030303,0,0,0,0,0,53.983993
13095,13095,27,76,1,1,1,2,29,1,0,...,55.61831,54.030303,52.493215,54.030303,0,0,0,0,0,53.983993
13096,13096,27,76,1,1,1,2,29,1,0,...,55.61831,54.030303,52.493215,54.030303,0,0,0,0,0,53.983993

In [129]:
import pandas as pd
r_data=pd.read_csv('./final_data.csv')
localities=[1,2,3,4,5,6,7]

## make production file
prod_field=['loc','weekdays/weekends','gender','profession','age','age_category','event','view','time','device',
    'section','cp','watch_time','t_gap','documentary','quiz','contest','audition','history','news','sports','drama',
        'romantic relationship','reality','sitcom','action','talk','family','comedy','sf fantasy',
        'sf','mid','adventure','romance','trip','game','fantasy','mini series','horror','crime','mystery',
        'g_avg','m_avg','u_avg','um_avg','simu1','simu2','simu3','simu4','simu5','mat_fact_pred']

unique_user=list(r_data['user_id'].unique())

#get feature average of every user
user_feature_avg={}
for u in unique_user:
    user_feature_avg[u]=[]
    for f in prod_field:
        user_feature_avg[u].append(r_data.loc[r_data['user_id']==u][f].mean())
        
#get cosine similarity between every user and sort them
from scipy import spatial

u_cosim={}
for u in user_feature_avg:
    u_cosim[u]={}
    for u2 in user_feature_avg:
        if u!=u2:
            sim = 1 - spatial.distance.cosine(user_feature_avg[u], user_feature_avg[u2])
            u_cosim[u][u2]=sim
    u_cosim[u]=dict( sorted(u_cosim[u].items(),key=lambda item: item[1],reverse=True))  
    
# print(u_cosim)

#get top five user for every user
top_5={}
top=5
for u in u_cosim:
    top_5[u]=[]
    top_cur=0
    for su in u_cosim[u]:
        top_5[u].append(su)
        top_cur+=1
        if top_cur==top:
            break

#print(top_5)

#already watched content by a user
watched_c=pd.DataFrame(columns=['user_id','watched_content'])
for u in unique_user:
    contents=list(r_data.loc[r_data['user_id']==u]['content_id'].unique())
    watched_c.loc[len(watched_c)]=[u,contents]
    
# print(watched_c)

#similar users contents
all_recom={}
for u in top_5:
    all_simu_content=[]
    all_simu_content_unique=[]
    all_not_watched=[]
    simu=top_5[u]
    for su in simu:
        su_content=watched_c.loc[watched_c['user_id']==su]['watched_content'].iloc[0]
#         print(su_content)
        all_simu_content=all_simu_content+su_content
    
    for cont in all_simu_content:
        if cont not in all_simu_content_unique:
            all_simu_content_unique.append(cont)   
#     print("unique all: ",all_simu_content_unique)
    
    #remove already watched content
    u_content=watched_c.loc[watched_c['user_id']==u]['watched_content'].iloc[0]
    for cont in all_simu_content_unique:
        if cont not in u_content:
            all_not_watched.append(cont)
#     print(u_content)
#     print("not watched: ",all_not_watched) 
        
    all_recom[u]=all_not_watched
    
# print(all_recom)
#store all recommendations
recommendations=pd.DataFrame(columns=['user_id','content_recommendation'])
for user in all_recom:
    recommendations.loc[len(recommendations)]=[user,all_recom[user]]

recommendations.to_csv('./all_user_recommendations.csv')

#locality wise contents recommendation

loc_content=pd.DataFrame(columns=['loc','content','freq'])
#unique_locality
u_loc=list(r_data['loc'].unique())
cnt=r_data.groupby(['loc','content_id'])['content_id'].count()
for c in cnt.iteritems():
    loc_content.loc[len(loc_content)]=[c[0][0],c[0][1],c[1]]
    
# print(loc_content)
locwise_recom=pd.DataFrame(columns=['location','content_recommendation'])
for x in localities:
    spec_loc_df=loc_content.loc[loc_content['loc']==x][['content','freq']]
    spec_loc_df=spec_loc_df.sort_values('freq', ascending=False).reset_index(drop=True)
    loc_spec_sorted_c=list(spec_loc_df['content'])
    locwise_recom.loc[len(locwise_recom)]=[x,loc_spec_sorted_c]
    
locwise_recom.to_csv('./location_wise_recommendation.csv')
# print(locwise_recom)

  location                             content_recommendation
0        1  [2, 29, 44, 31, 32, 64, 19, 49, 51, 23, 17, 5,...
1        2  [2, 49, 44, 19, 11, 41, 57, 18, 1, 28, 32, 75,...
2        3  [2, 49, 42, 47, 75, 51, 21, 20, 35, 41, 18, 1,...
3        4        [49, 41, 13, 2, 17, 16, 23, 75, 35, 57, 25]
4        5                           [47, 48, 75, 19, 23, 74]
5        6  [2, 29, 25, 13, 60, 17, 70, 19, 14, 8, 24, 41,...
6        7                                        [23, 24, 5]

In [136]:
import pandas as pd
from ast import literal_eval

inp_file=pd.read_csv('./input_file.csv')
id_title=pd.read_csv('./id_to_title.csv')
loc_rec=pd.read_csv('./location_wise_recommendation.csv')
total_recom=5

#get first common optimal content
def first_common_optimal_content(l1,l2):
    content_list=[]
    for item in l1:
        if item in l2:
            content_list.append(item)
    
    if len(content_list)==0:  #if no common content then show content after merging location and similarity suggestion
        content_list=l1[:3]+l2[:2]
        
    return content_list

for index,row in inp_file.iterrows():
    u_id=row['user_id']
    if row['new_old']==1: ## 0 for new user and 1 for old user
        recomm_file=pd.read_csv('./all_user_recommendations.csv')
        recom=recomm_file.loc[recomm_file['user_id']==u_id,'content_recommendation'].iloc[0]
        if isinstance(recom,str):
            recom=literal_eval(recom)
            
        if row['loc'] not in [1,2,3,4,5,6,7]:  ## no locality is provided by user : overall recommendation
            print("----- Recommendation for user: ",u_id,'without location preference -----')
            for n in range(total_recom):
                try:
                    print(id_title.loc[id_title['id']==recom[n],'title'].iloc[0])
                except:
                    pass
        else:
            print("----- Recommendation for user: ",u_id,'with location preference -----')
            loc_recom=loc_rec.loc[loc_rec['location']==row['loc'],'content_recommendation'].iloc[0]
            if isinstance(loc_recom,str):
                loc_recom=literal_eval(loc_recom)
            suggest=first_common_optimal_content(loc_recom,recom)
            for n in range(total_recom):
                try:
                    print(id_title.loc[id_title['id']==suggest[n],'title'].iloc[0])
                except:
                    pass
    elif row['new_old']==0:
        referesh_database()
        then do above stuff again

----- Recommendation for user:  3 without location preference -----
I am SOLO
10 the secret of
Doll Singles 2
now , I'm breaking up
what do you do when you play ?
----- Recommendation for user:  3 with location preference -----
len of suggest:  5
my ugly baby
mission possible
game of thrones season 4
I am SOLO
10 the secret of